<!-- 
<input type="text" name="Name" maxlength="50" required>
<input type="text" name="Description" maxlength="200" required>
<input type="File" name="image_file" required>
<input type="text" name="Cost" required>
<input type="text" name="Active" maxlength="10" required>
<input type="text" name="Available" maxlength="10" required>
<input type="text" name="Quantity" required> -->

<form action="{% url  'get_product' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p  }}
    <input type="submit" value="Submit">
</form>