<h1 style="background-color:rgb(193, 230, 176);"> Our Product List</h1>


<form action="{% url  'Productdelete' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="delete" name="delete">
    <button type="submit">Delete Product!</button>
</form>
<ul>

    {% for list in Product_List%}
    <li><h1 style="background-color:rgb(230, 176, 230);">Product Name:{{list.Name}}</h1> </li>
    <li>{{list.id}}</li> 
    <li>Discription :{{list.Description}}</li>
    <li><img src="{{list.image_file}}" alt="" width="42" height="42" style="float:left"></li>
    <li>Cost :{{list.Cost}}</li>
    <li>Active :{{list.Active}}</li>
    <li>Available :{{list.Available}}</li>
    <li>Quantity :{{list.Quantity}}</li>
    {% endfor %}

</ul>

